<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>About</title>
</head>
<body style="background-color: black;">
 
    <div style="width: 100%;">
        <img src="static/aboutheader01.png" alt="DEMILICH" width="50%" style="display: inline-block;margin: auto;" class="d-none d-xl-block">
        <img src="static/aboutheader01.png" alt="DEMILICH" width="60%" style="display: inline-block;margin: auto;" class="d-none d-lg-block d-xl-none">
        <img src="static/aboutheader01.png" alt="DEMILICH" width="70%" style="display: inline-block;margin: auto;" class="d-none d-md-block d-lg-none">
        <img src="static/aboutheader01.png" alt="DEMILICH" width="80%" style="display: inline-block;margin: auto;" class="d-block d-md-none mt-3">
    </div>

    <div class="container">

    <div class="row" style="position: relative;">

        <div class="col-4">
            <img src="static/knight02.png" class="d-none d-lg-block" style="display: inline-block; position: absolute; left: 0; width: 60%;" alt="knight">
            <img src="static/knight02.png" class="d-block d-lg-none mt-5 mx-2" style="display: inline-block; position: absolute; left: 0; width: 100%;" alt="knight">
        </div>
        <div class="col-8">
            <div class="container" style="text-align: center;">
                <p style="color: lavender;" class="mt-5">Demi-Lich is an easily accessible in-browser D&D character creator and organiser. Character creation in 
                    D&D can be a pain. What with having to fill out forms like in a doctor’s office and carrying it around with you, scribbling notes 
                    to keep track of your inventory and equipment. Enter Demi-Lich: An in-browser, dedicated character creator and organizer with a sleek 
                    and intuitive interface that makes character creation a breeze. Demi-Lich uses a dungeon and dragons 5th edition api for item, class, 
                    spell, and race information and provides optional randomization for nearly every element of your character. Another notable feature is 
                    the character graveyard: a place to store your dearly departed characters and all their info (including cause of death and even a custom 
                    eulogy if you so desire). If you’re an experienced D&D player, new to the game, or are even playing a different 
                    RPG altogether; Demi-Lich is highly customizable and able to tackle all of your roleplaying character needs.
                </p>
            </div>
        </div>

    </div>

<br>
<br>

<div style="text-align: center;">

    <span style="color: mediumpurple;">Already have an account?: <a href="/login">log in</a></span>

    <br>

    <span style="color: mediumpurple;">Don't have an account?: <a href="/signup">sign up</a></span>

</div>

</div>

</body>
</html>