<div class="row ml-2" style="position: relative;text-align: center;padding-right: 2%;">
    <div class="col-4">
        <div class="item-img-container mt-2" style="background-image: url(item01.png);">
        </div>
        <br>
        <span class="character-info-entry">Armor Class: </span>
        <br>
        <span class="dl-text">Plate</span>
        <br>
        <span class="character-info-entry">Weight: </span>
        <br>
        <span class="dl-text">10 pounds</span>
        <br>
        <span class="character-info-entry">Quantity: </span>
        <br>
        <span class="dl-text">1</span>
        <br>
        <span class="character-info-entry">Condition: </span>
        <br>
        <span class="dl-text">Fair</span>
        <div class=" mt-1 dropdown">
            <button class="copy-weapon-dropdown dl-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Copy to other character
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item dl-text" href="#">Smoopy</a>
              <a class="dropdown-item dl-text" href="#">Doopy</a>
              <a class="dropdown-item dl-text" href="#">Poopy</a>
            </div>
          </div>
    </div>
    <div class="col-8 mt-3">
            <img class="mx-3 dl-btn weapon-equip-btn" src="equipbtn.png" alt="equip">
            <img class="mx-3 dl-btn weapon-edit-btn" src="editbtn.png" alt="edit">
            <img class="mx-3 dl-btn weapon-delete-btn" src="deletebtn.png" alt="delete">
            <br>
        <span class="character-info-entry">Rarity: </span>
        <br>
        <span class="dl-text">Common</span> 
        <br>    
        <span class="character-info-entry">Description: </span>
        <br>
        <span class="dl-text">Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Incidunt sed at neque hic praesentium culpa 
            inventore est, dolorum voluptas esse, corrupti voluptates iure. 
            Libero inventore molestias consectetur dicta aliquam necessitatibus!</span>
        <br>
        <span class="character-info-entry">Notes: </span>
        <br>
        <span class="dl-text">Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Voluptatibus, rem a. Deleniti asperiores earum 
            veritatis exercitationem consequuntur quibusdam corporis facilis, 
            explicabo doloribus nihil sunt qui facere doloremque magni esse. 
            Similique?</span>
    </div>
</div>