<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
    <title>Demilich</title>
</head>
<body style="background-image: none;overflow: auto;">

    <div class="container" style="text-align: center;">

        <div id="reapercontainer" class="d-flex justify-content-center" style="width: 100%;">
            <img src="/static/reaperanimated01.gif" alt="reaper" style="width: 50%;">
        </div>

        <h2 class="character-info-entry">Kill {{character.name}}?</h2>

        <div id="container" class="d-flex justify-content-center" style="width: 100%;">
            <form action="/killcharacter/{{character.id}}" method="POST" id="kill-character-form">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    {{ field(placeholder=field.label.text, class_="my-1 dl-field") }}
                    <br>
                {% endfor %}
                <button class="dl-kill-confirm-btn">KILL</button>
            </form>
        </div>
        <form action="/" id="kill-cancel-button" class="mt-1 mb-3">
            <button class="dl-add-ability-btn">Cancel</button>
        </form>

    </div>

</body>
</html>